{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ],
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "components": "./components",
          "pages": "./pages"
        }
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
    /*,
        [
          "import",
          {
            "libraryName": "antd",
            "libraryDirectory": "lib",
            "style": "css"
          }
        ],
        [
          "import",
          {
            "libraryName": "antd-mobile",
            "style": "css"
          },
          "antd-mobile"
        ]*/
  ]
}
